BOT_TOKEN=8991981600:AAFidUcGJIsmsmVhETg-zlvpKsjDY0RJfgc
DATABASE_URL=postgresql+asyncpg://nri_user:nri_password@db:5432/nri_club
POSTGRES_USER=nri_user
POSTGRES_PASSWORD=nri_password
POSTGRES_DB=nri_club
ADMIN_TELEGRAM_IDS=123456789
LOG_LEVEL=INFO
TIMEZONE=Europe/Moscow
